<!-- 
	<% @calendars.each do |calendar|%>
		<div class="calendar">
			<ul>
				<% calendar.events.each do |event| %>
					<li>
						<h2><%= event.summary %> </h2>
						<small><%= event.dtstart %></small>
						<small><%= event.dtend %></small>
						<% # if event.description.include?("http://") %>
							<p><%= event.description %></p>
						<% # end %>
						<br />
						<br />
						<br />
					</li>
				<% end %>
			</ul>
		<div class="calendar">
	<% end %>
 -->

<!-- Calendar -->
<div class="calendar"><div class="calheader">
<h2>Det händer i Elimkyrkan</h2></div><ul></ul></div>