<div class="responsivecontent">
  <div class="maincontent responsivemaincontent">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <p>Test text lot's of text</p>
    <p>Test text lot's of text</p>
    <p>Test text lot's of text</p>
    <p>Test text lot's of text</p>
    <p>Test text lot's of text</p>
    <p>Test text lot's of text</p>
    <p>Test text lot's of text</p>
    <p>Test text lot's of text</p>
    <p>Test text lot's of text</p>
    <p>Test text lot's of text</p>
    <p>Test text lot's of text</p>
    <p>Test text lot's of text</p>
    <p>Test text lot's of text</p>
    <p>Test text lot's of text</p>
    <p>Test text lot's of text</p>
    <p>Test text lot's of text</p>
  </div>
  <div class="sidecontent responsivesidecontent">
    <div class="sideitem responisvesideitem">
      <p>other content</p>
    </div>
    <div class="sideitem responisvesideitem">
      <p>other content</p>
    </div>
    <div class="sideitem responisvesideitem">
      <p>other content</p>
    </div>
    <div class="sideitem responisvesideitem">
      <p>other content</p>
    </div>
  </div>
</div>
