<% title 'välkommen' %>
<div class="responsivecontent">
  <div class="responsivemaincontent">
    <div class="maincontent boxitem">
      <%= @homeintro.content.html_safe %>
      <% if user_signed_in? %>
        <%= link_to 'ändra', edit_page_path(@homeintro), style: 'display:block' %>
      <% end %>
    </div>
  </div><div class="responsivesidecontent">
    <aside class="sidecontent">
      <div class="responisvesideitem">
        <div class="sideitem boxitem">
        <h3>Li Europan</h3>
        <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca.</p>
        </div>
      </div><div class="responisvesideitem">
        <div class="sideitem boxitem">
        <h3>Li Europan</h3>
        <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca.</p>
        </div>
      </div><div class="responisvesideitem">
        <div class="sideitem boxitem">
        <h3>Li Europan</h3>
        <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca.</p>
        </div>
      </div><div class="responisvesideitem">
        <div class="sideitem boxitem">
        <h3>Li Europan</h3>
        <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca.</p>
        </div>
      </div><div class="responisvesideitem">
        <div class="sideitem boxitem">
        <h3>Li Europan</h3>
        <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca.</p>
        </div>
      </div>
    </aside>
  </div>
  <div class="cleardiv"></div>
</div>
