// Extenders
.no-select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.transition
  transition: all 0.4s ease

.boxitem
  box-shadow: 0 0 10px 0px rgba(0,0,0,0.4)
  @extend .transition
 
.scrollbar
// \::-webkit-scrollbar
//   width: 13px

// \::-webkit-scrollbar-thumb
//   background-color: rgb(148, 148, 148)
//   border-radius: 13
//   &:hover
//     background-color: rgb(196, 196, 196)

// \::-webkit-scrollbar-track
//   background-color: #1A0286
