//layout
html, body
  width: 100%
  background: $white

.cleardiv
  clear: both

.hidden
  display: none

.maincontainer
  width: 100%
  margin: 0
  padding: 0

.pagecontainer
  margin: 0 auto
  max-width: 960px


.headercontainer
  background-color: $header
  height: 90px
  img
    height: 90px

.logo
  float: left

nav
  padding: 0px 15px
  ul
    float: right
    font-size: 18pt
    li
      display: inline-block
      a
        color: $light-blue
        line-height: 90px
        display: block
        &:hover
          color: $gray
          //background-color: $white

#footer
  background-color: $deep-blue
  padding: 15px
  .sitemap
    color: $white

.fadein
  -webkit-animation: fadein 0.4s
  animation: fadein 0.4s

@-webkit-keyframes fadein
  0%
    opacity: 0.7
    transform: scale(0.99, 0.99)
  100%
    opacity: 1
    transform: scale(1, 1)

/* Standard syntax */
@keyframes fadein
  0%
    opacity: 0.7
    transform: scale(0.99, 0.99)
  100%
    opacity: 1
    transform: scale(1, 1)

//content area
.maincontent
  background: $orange
  padding: 5px

.sidecontent
  .sideitem
    background: $red
    padding: 5px
    margin-bottom: 5px
