html, body
  width: 100%

.cleardiv
  clear: both

.maincontainer
  width: 100%
  margin: 0
  padding: 0
  background: $white

.pagecontainer
  margin: 0 auto
  width: 960px

.headercontainer
  background-color: $orange

.logo
  float: left

nav ul
  float: right
  li
    display: inline-block
    a
      color: $white
      &:hover
        color: $gray

#footer
  background-color: $deep-blue
  padding: 15px
  .sitemap
    color: $white
