.responsivecontent
  width: 100%
  .responsivemaincontent
    float: left
    width: 690px
  .responsivesidecontent
    float: right
    .responisvesideitem
      display: block
      width: 260px
      margin-bottom: 10px


.responisveheader

.responsivelogo

.responsivenavbar
  ul
    overflow: hidden
    text-align: center
    li
      display: inline-block

  .navbarexpander
    display: none
    width: 100%


@media screen and (max-width:980px)
  .responsivecontent
    .responsivemaincontent
      width: 100%
      border-bottom: 1px solid black
    .responsivesidecontent
      width: 100%
      text-align: center

      .responisvesideitem
        display: inline-block
        width: 33.33%
        margin-bottom: 0px

  .responsivelogo
    width: 100%
    height: auto

  .responsivenavbar
    clear: both
    ul
      float: none
      overflow: hidden
      text-align: center
      li
        display: inline-block

  .navbarexpander
    display: none
    width: 100%

  .boxitem
    box-shadow: none

  #footer
    margin-top: 0px
@media screen and (max-width:560px)
  .responsivecontent
    .responsivemaincontent
      width: 100%
    .responsivesidecontent
      width: 100%
      text-align: center
      .responisvesideitem
        display: inline-block
        width: 50%

  .responsivelogo
    float: none
    img
      width: 100%
      height: auto
  .responsivenavbar
    background: $lighter-deep-blue
    float: none
    padding: 0
    ul
      overflow: hidden
      text-align: center
      li
        box-sizeing: border-box
        width: 100%
        text-align: center
        &:hover
          background: $light-gray

        a
          color: $white

    .navbarexpander
      display: block
      width: 100%
      text-align: left
      margin: 0
      height: 50px
      background: $deep-blue
      a
        color: $white
        line-height: 90px
        display: block
        padding-left: 15px
        font-size: 18pt
        line-height: 50px
        &:active
          background: $light-gray

      img
        margin-top: -50px
        height: 50px
        width: auto
        float: right

@media screen and (max-width:360px)
  .responsivecontent
    .responsivemaincontent
      width: 100%
    .responsivesidecontent
      width: 100%
      .responisvesideitem
        display: block
        width: 100%
