.responsivecontent
  width: 100%
  .responsivemaincontent
    float: left
    width: 700px
  .responsivesidecontent
    float: right
    .responisvesideitem
      display: block
      width: 250px

@media screen and (max-width:1000px)
  .responsivecontent
    .responsivemaincontent
      width: 100%
    .responsivesidecontent
      width: 100%
      text-align: center
      .responisvesideitem
        display: inline-block
        width: 31%

@media screen and (max-width:550px)
  .responsivecontent
    .responsivemaincontent
      width: 100%
    .responsivesidecontent
      width: 100%
      .responisvesideitem
        display: block
        width: 100%
